openai==1.12.0
streamlit==1.31.1
PyPDF2==3.0.0
# attrs==23.2.0
# certifi==2024.7.4
# charset-normalizer==3.3.2
# click==8.1.7
# colorama==0.4.6
# idna==3.7
# Jinja2==3.1.4
# MarkupSafe==2.1.5
# numpy==2.0.0
# packaging==24.1
# pandas==2.2.2
# python-dateutil==2.9.0.post0
# pytz==2024.1
# requests==2.32.3
# setuptools==65.5.0
# six==1.16.0
# tqdm==4.66.4
# typing_extensions==4.12.2
# tzdata==2024.1
# urllib3==2.2.2

